.container {
    border: 1px solid black;
    margin: 10px;
    padding: 16px;
}

.title {
    text-align: center;
}

.list {
    display: flex;
    margin-top: 25px;
    
    justify-content: center;
    gap: 20px;
}

.sublist {
    font-size: 18px;
    line-height: 1.25;
    padding: 10px;
    text-align: center;
   border: 2px solid black;
   border-radius: 15px;
}